
@{
    Layout = null;
}

@*https://asp.mvc-tutorial.com/getting-started/creating-a-view/*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <span style="font-size: 18pt;">Hello, <b>MVC</b> world!</span>
</body>
</html>
