
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>

    @RenderBody()

    <p>Lots of Layout content goes here...</p>

    @RenderSection("Footer")

</body>
</html>
